.catalog
  .catalog__inner
    .wrapper
      .catalog__layout
        .layout
          .catalog__title
            .content-title Каталог
          .catalog__line
            .line
          .catalog__tabs(id="tabs")
            .catalog__btn.tabs-link
              a(href="#tab-1").catalog-btn Повседневные портупеи
              a(href="#tab-2").catalog-btn Эротические портупеи
            .catalog__cards.tabs-items
              .card.tabs-item(id="tab-1")
                ul.card__list
                  li.card__item
                    .card__top
                      .card__img
                        img(src='images/card-1.jpg' alt='img' width="300" heght="350").card-img
                    .card__discount
                      .discount
                        .discount__description -53%
                    .card__bottom
                      .card__info Портупея “Пеппи”
                      .card__size
                        .size
                          ul.size__list
                            li.size__item
                              .size__description Xs
                            li.size__item
                              .size__description S
                            li.size__item
                              .size__description M
                            li.size__item
                              .size__description L
                            li.size__item.ineffective-size
                              .size__description Xl
                            li.size__item.ineffective-size
                              .size__description Xxl
                      .card__circle
                        .circle.circle--black
                        .circle.circle--red
                      .card__price
                        del.card__price-ineffective 4990 р.
                        .card__price-effective 2990 р.
                      .card__btn
                        button.btn-order(data-remodal-target="modal-1") Заказать
                  li.card__item
                    .card__top
                      .card__img
                        img(src='images/card-2.jpg' alt='img' width="300" heght="350").card-img
                    .card__discount
                      .discount
                        .discount__description -53%
                    .card__bottom
                      .card__info Портупея “Влади”
                      .card__size
                        .size
                          ul.size__list
                            li.size__item
                              .size__description Xs
                            li.size__item
                              .size__description S
                            li.size__item
                              .size__description M
                            li.size__item
                              .size__description L
                            li.size__item
                              .size__description Xl
                            li.size__item
                              .size__description Xxl
                      .card__circle
                        .circle.circle--black
                        .circle.circle--red.d-none
                      .card__price
                        del.card__price-ineffective 4990 р.
                        .card__price-effective 2990 р.
                      .card__btn
                        button.btn-order(data-remodal-target="modal-2") Заказать
                  li.card__item
                    .card__top
                      .card__img
                        img(src='images/card-3.jpg' alt='img' width="300" heght="350").card-img
                    .card__discount
                      .discount
                        .discount__description -53%
                    .card__bottom
                      .card__info Портупея “Джони Миллер”
                      .card__size
                        .size
                          ul.size__list
                            li.size__item.active-size
                              .size__description Xs
                            li.size__item
                              .size__description S
                            li.size__item
                              .size__description M
                            li.size__item
                              .size__description L
                            li.size__item.ineffective-size
                              .size__description Xl
                            li.size__item.ineffective-size
                              .size__description Xxl
                      .card__circle
                        .circle.circle--black
                        .circle.circle--red
                      .card__price
                        del.card__price-ineffective 4990 р.
                        .card__price-effective 2990 р.
                      .card__btn
                        button.btn-order(data-remodal-target="modal-3") Заказать
                  li.card__item
                    .card__top
                      .card__img
                        img(src='images/card-1.jpg' alt='img' width="300" heght="350").card-img
                    .card__discount
                      .discount
                        .discount__description -53%
                    .card__bottom
                      .card__info Портупея “Пеппи”
                      .card__size
                        .size
                          ul.size__list
                            li.size__item
                              .size__description Xs
                            li.size__item
                              .size__description S
                            li.size__item
                              .size__description M
                            li.size__item
                              .size__description L
                            li.size__item.ineffective-size
                              .size__description Xl
                            li.size__item.ineffective-size
                              .size__description Xxl
                      .card__circle
                        .circle.circle--black
                        .circle.circle--red
                      .card__price
                        del.card__price-ineffective 4990 р.
                        .card__price-effective 2990 р.
                      .card__btn
                        button.btn-order(data-remodal-target="modal-4") Заказать
                  li.card__item
                    .card__top
                      .card__img
                        img(src='images/card-2.jpg' alt='img' width="300" heght="350").card-img
                    .card__discount
                      .discount
                        .discount__description -53%
                    .card__bottom
                      .card__info Портупея “Влади”
                      .card__size
                        .size
                          ul.size__list
                            li.size__item
                              .size__description Xs
                            li.size__item
                              .size__description S
                            li.size__item
                              .size__description M
                            li.size__item
                              .size__description L
                            li.size__item
                              .size__description Xl
                            li.size__item
                              .size__description Xxl
                      .card__circle
                        .circle.circle--black
                        .circle.circle--red.d-none
                      .card__price
                        del.card__price-ineffective 4990 р.
                        .card__price-effective 2990 р.
                      .card__btn
                        button.btn-order(data-remodal-target="modal-5") Заказать
                  li.card__item
                    .card__top
                      .card__img
                        img(src='images/card-3.jpg' alt='img' width="300" heght="350").card-img
                    .card__discount
                      .discount
                        .discount__description -53%
                    .card__bottom
                      .card__info Портупея “Джони Миллер”
                      .card__size
                        .size
                          ul.size__list
                            li.size__item.active-size
                              .size__description Xs
                            li.size__item
                              .size__description S
                            li.size__item
                              .size__description M
                            li.size__item
                              .size__description L
                            li.size__item.ineffective-size
                              .size__description Xl
                            li.size__item.ineffective-size
                              .size__description Xxl
                      .card__circle
                        .circle.circle--black
                        .circle.circle--red
                      .card__price
                        del.card__price-ineffective 4990 р.
                        .card__price-effective 2990 р.
                      .card__btn
                        button.btn-order(data-remodal-target="modal-6") Заказать
              .card.tabs-item(id="tab-2")
                ul.card__list
                  li.card__item
                    .card__top
                      .card__img
                        img(src='images/card-3.jpg' alt='img' width="300" heght="350").card-img
                    .card__discount
                      .discount
                        .discount__description -53%
                    .card__bottom
                      .card__info Портупея “Пеппи”
                      .card__size
                        .size
                          ul.size__list
                            li.size__item.active-size
                              .size__description Xs
                            li.size__item
                              .size__description S
                            li.size__item
                              .size__description M
                            li.size__item
                              .size__description L
                            li.size__item.ineffective-size
                              .size__description Xl
                            li.size__item.ineffective-size
                              .size__description Xxl
                      .card__circle
                        .circle.circle--black
                        .circle.circle--red
                      .card__price
                        del.card__price-ineffective 4990 р.
                        .card__price-effective 2990 р.
                      .card__btn
                        button.btn-order.btn-order(data-remodal-target="modal-3") Заказать
                  li.card__item
                    .card__top
                      .card__img
                        img(src='images/card-1.jpg' alt='img' width="300" heght="350").card-img
                    .card__discount
                      .discount
                        .discount__description -53%
                    .card__bottom
                      .card__info Портупея “Влади”
                      .card__size
                        .size
                          ul.size__list
                            li.size__item
                              .size__description Xs
                            li.size__item
                              .size__description S
                            li.size__item
                              .size__description M
                            li.size__item
                              .size__description L
                            li.size__item.ineffective-size
                              .size__description Xl
                            li.size__item.ineffective-size
                              .size__description Xxl
                      .card__circle
                        .circle.circle--black
                        .circle.circle--red
                      .card__price
                        del.card__price-ineffective 4990 р.
                        .card__price-effective 2990 р.
                      .card__btn
                        button.btn-order.btn-order(data-remodal-target="modal-1") Заказать
                  li.card__item
                    .card__top
                      .card__img
                        img(src='images/card-2.jpg' alt='img' width="300" heght="350").card-img
                    .card__discount
                      .discount
                        .discount__description -53%
                    .card__bottom
                      .card__info Портупея “Джони Миллер”
                      .card__size
                        .size
                          ul.size__list
                            li.size__item
                              .size__description Xs
                            li.size__item
                              .size__description S
                            li.size__item
                              .size__description M
                            li.size__item
                              .size__description L
                            li.size__item
                              .size__description Xl
                            li.size__item
                              .size__description Xxl
                      .card__circle
                        .circle.circle--black
                        .circle.circle--red.d-none
                      .card__price
                        del.card__price-ineffective 4990 р.
                        .card__price-effective 2990 р.
                      .card__btn
                        button.btn-order.btn-order(data-remodal-target="modal-2") Заказать
                  li.card__item
                    .card__top
                      .card__img
                        img(src='images/card-2.jpg' alt='img' width="300" heght="350").card-img
                    .card__discount
                      .discount
                        .discount__description -53%
                    .card__bottom
                      .card__info Портупея “Пеппи”
                      .card__size
                        .size
                          ul.size__list
                            li.size__item
                              .size__description Xs
                            li.size__item
                              .size__description S
                            li.size__item
                              .size__description M
                            li.size__item
                              .size__description L
                            li.size__item.ineffective-size
                              .size__description Xl
                            li.size__item.ineffective-size
                              .size__description Xxl
                      .card__circle
                        .circle.circle--black
                        .circle.circle--red.d-none
                      .card__price
                        del.card__price-ineffective 4990 р.
                        .card__price-effective 2990 р.
                      .card__btn
                        button.btn-order.btn-order(data-remodal-target="modal-2") Заказать
                  li.card__item
                    .card__top
                      .card__img
                        img(src='images/card-3.jpg' alt='img' width="300" heght="350").card-img
                    .card__discount
                      .discount
                        .discount__description -53%
                    .card__bottom
                      .card__info Портупея “Влади”
                      .card__size
                        .size
                          ul.size__list
                            li.size__item.active-size
                              .size__description Xs
                            li.size__item
                              .size__description S
                            li.size__item
                              .size__description M
                            li.size__item
                              .size__description L
                            li.size__item.ineffective-size
                              .size__description Xl
                            li.size__item.ineffective-size
                              .size__description Xxl
                      .card__circle
                        .circle.circle--black
                        .circle.circle--red
                      .card__price
                        del.card__price-ineffective 4990 р.
                        .card__price-effective 2990 р.
                      .card__btn
                        button.btn-order.btn-order(data-remodal-target="modal-3") Заказать
                  li.card__item
                    .card__top
                      .card__img
                        img(src='images/card-1.jpg' alt='img' width="300" heght="350").card-img
                    .card__discount
                      .discount
                        .discount__description -53%
                    .card__bottom
                      .card__info Портупея “Джони Миллер”
                      .card__size
                        .size
                          ul.size__list
                            li.size__item
                              .size__description Xs
                            li.size__item
                              .size__description S
                            li.size__item
                              .size__description M
                            li.size__item
                              .size__description L
                            li.size__item.ineffective-size
                              .size__description Xl
                            li.size__item.ineffective-size
                              .size__description Xxl
                      .card__circle
                        .circle.circle--black
                        .circle.circle--red
                      .card__price
                        del.card__price-ineffective 4990 р.
                        .card__price-effective 2990 р.
                      .card__btn
                        button.btn-order.btn-order(data-remodal-target="modal-1") Заказать
              .remodal(data-remodal-id='modal-1' data-remodal-options="hashTracking:false, modifier: modal-fullscreen")
                .modal
                  .modal__img
                    img(src='images/card-1.jpg' alt='img' width="300" heght="350").modal-img
                  .modal__card
                    .card
                      .card__info Портупея “Пеппи”
                      .card__price
                        del.card__price-ineffective 4990 р.
                        .card__price-effective 2990 р.
                      form.form
                        select.form__select
                          option(value="XS") XS
                          option(value="S") S
                          option(value="M") M
                          option(value="L") L
                        .form__input-name
                          input(type="text" placeholder="Введите ваше имя").input-name
                        .form__input-phone
                          input(type="text" placeholder="Введите ваш телефон").input-phone
                        .form__btn
                          .btn-order.btn-order--modal Оформить заказ
                        .form__close(data-remodal-action="close")
                          +icon(name="cansel").svg
              .remodal(data-remodal-id='modal-2' data-remodal-options="hashTracking:false, modifier: modal-fullscreen")
                .modal
                  .modal__img
                    img(src='images/card-2.jpg' alt='img' width="300" heght="350").card-img
                  .modal__card
                    .card
                      .card__info Портупея “Пеппи”
                      .card__price
                        del.card__price-ineffective 4990 р.
                        .card__price-effective 2990 р.
                      form.form
                        select.form__select
                          option(value="XS") XS
                          option(value="S") S
                          option(value="M") M
                          option(value="L") L
                          option(value="L") XL
                          option(value="L") XXL
                        .form__input-name
                          input(type="text" placeholder="Введите ваше имя").input-name
                        .form__input-phone
                          input(type="text" placeholder="Введите ваш телефон").input-phone
                        .form__btn
                          .btn-order.btn-order--modal Оформить заказ
                        .form__close(data-remodal-action="close")
                          +icon(name="cansel").svg
              .remodal(data-remodal-id='modal-3' data-remodal-options="hashTracking:false, modifier: modal-fullscreen")
                .modal
                  .modal__img
                    img(src='images/card-3.jpg' alt='img' width="300" heght="350").modal-img
                  .modal__card
                    .card
                      .card__info Портупея “Пеппи”
                      .card__price
                        del.card__price-ineffective 4990 р.
                        .card__price-effective 2990 р.
                      form.form
                        select.form__select
                          option(value="XS") XS
                          option(value="S") S
                          option(value="M") M
                          option(value="L") L
                        .form__input-name
                          input(type="text" placeholder="Введите ваше имя").input-name
                        .form__input-phone
                          input(type="text" placeholder="Введите ваш телефон").input-phone
                        .form__btn
                          .btn-order.btn-order--modal Оформить заказ
                        .form__close(data-remodal-action="close")
                          +icon(name="cansel").svg
              .remodal(data-remodal-id='modal-4' data-remodal-options="hashTracking:false, modifier: modal-fullscreen")
                .modal
                  .modal__img
                    img(src='images/card-1.jpg' alt='img' width="300" heght="350").modal-img
                  .modal__card
                    .card
                      .card__info Портупея “Пеппи”
                      .card__price
                        del.card__price-ineffective 4990 р.
                        .card__price-effective 2990 р.
                      form.form
                        select.form__select
                          option(value="XS") XS
                          option(value="S") S
                          option(value="M") M
                          option(value="L") L
                        .form__input-name
                          input(type="text" placeholder="Введите ваше имя").input-name
                        .form__input-phone
                          input(type="text" placeholder="Введите ваш телефон").input-phone
                        .form__btn
                          .btn-order.btn-order--modal Оформить заказ
                        .form__close(data-remodal-action="close")
                          +icon(name="cansel").svg
              .remodal(data-remodal-id='modal-5' data-remodal-options="hashTracking:false, modifier: modal-fullscreen")
                .modal
                  .modal__img
                    img(src='images/card-2.jpg' alt='img' width="300" heght="350").modal-img
                  .modal__card
                    .card
                      .card__info Портупея “Пеппи”
                      .card__price
                        del.card__price-ineffective 4990 р.
                        .card__price-effective 2990 р.
                      form.form
                        select.form__select
                          option(value="XS") XS
                          option(value="S") S
                          option(value="M") M
                          option(value="L") L
                          option(value="L") XL
                          option(value="L") XXL
                        .form__input-name
                          input(type="text" placeholder="Введите ваше имя").input-name
                        .form__input-phone
                          input(type="text" placeholder="Введите ваш телефон").input-phone
                        .form__btn
                          .btn-order.btn-order--modal Оформить заказ
                        .form__close(data-remodal-action="close")
                          +icon(name="cansel").svg
              .remodal(data-remodal-id='modal-6' data-remodal-options="hashTracking:false, modifier: modal-fullscreen")
                .modal
                  .modal__img
                    img(src='images/card-3.jpg' alt='img' width="300" heght="350").modal-img
                  .modal__card
                    .card
                      .card__info Портупея “Пеппи”
                      .card__price
                        del.card__price-ineffective 4990 р.
                        .card__price-effective 2990 р.
                      form.form
                        select.form__select
                          option(value="XS") XS
                          option(value="S") S
                          option(value="M") M
                          option(value="L") L
                        .form__input-name
                          input(type="text" placeholder="Введите ваше имя").input-name
                        .form__input-phone
                          input(type="text" placeholder="Введите ваш телефон").input-phone
                        .form__btn
                          .btn-order.btn-order--modal Оформить заказ
                        .form__close(data-remodal-action="close")
                          +icon(name="cansel").svg