.content
  .content__header
    .wrapper
      .content__inner
        .content__subtitle Женские кожаные портупеи
        .content__title Dr.Harness
        .content__line
        .content__info Любая модель со скидкой 50%
          .content__price-description всего за
            span.content__price 2990р.
        .content__btn
          button.content__btn-left
            .btn Повседневные портупеи
          .content__btn-right
            button.btn Эротические портупеи