footer.footer
  .footer__inner
    .wrapper
      .footer__layout
        .footer__title Как заказать?
        .footer__line
          .line
        .footer__operation
          .operation
            ul.operation__list
              li.operation__item
                .operation__icon
                  +icon(name="order").svg-operation
                .operation__circle
                .operation__description
                  |Вы оформляете заказ на нашем сайте
              li.operation__item
                .operation__icon
                  +icon(name="call").svg-operation
                .operation__circle
                .operation__description
                  |Вы оформляете заказ на нашем сайте
              li.operation__item
                .operation__icon
                  +icon(name="send").svg-operation
                .operation__circle
                .operation__description
                  |Вы оформляете заказ на нашем сайте
              li.operation__item
                .operation__icon
                  +icon(name="payment").svg-operation
                .operation__circle
                .operation__description
                  |Вы оформляете заказ на нашем сайте


