.info
  .info__inner
    .info__title Хит №1 в мире – модные жеские портупеи
    .info__line
    .info__description
      | Как и все кожаные аксессуары, 
      | портупея находится сегодня на пике востребованности в мире моды,
      | даря своей
      br
      | обладательнице внимание и уверенность в себе.
      .info__description-tagline
        | Многообразие видов портупей – это как Характер каждой девушки:
        | от портупеи из тонких ремешков для
        br
        | романтичных и женственных натур,
        | до сложных сплетений из средних и широких - для дерзких и раскрепощенных.
    .info__slider
      .slider
        ul.slider__list.js-slider
          li.slider__item
            img(src='images/img-1.jpg' alt='img' width="160" heght="320").slider__img
          li.slider__item
            img(src='images/img-2.jpg' alt='img' width="320" heght="320").slider__img
          li.slider__item
            img(src='images/img-3.jpg' alt='img' width="320" heght="320").slider__img
          li.slider__item
            img(src='images/img-4.jpg' alt='img' width="320" heght="320").slider__img
          li.slider__item
            img(src='images/img-5.jpg' alt='img' width="320" heght="320").slider__img
          li.slider__item
            img(src='images/img-6.jpg' alt='img' width="320" heght="320").slider__img
          li.slider__item
            img(src='images/img-7.jpg' alt='img' width="160" heght="320").slider__img
          li.slider__item
            img(src='images/img-1.jpg' alt='img' width="160" heght="320").slider__img
          li.slider__item
            img(src='images/img-2.jpg' alt='img' width="320" heght="320").slider__img
          li.slider__item
            img(src='images/img-3.jpg' alt='img' width="320" heght="320").slider__img
          li.slider__item
            img(src='images/img-4.jpg' alt='img' width="320" heght="320").slider__img
          li.slider__item
            img(src='images/img-5.jpg' alt='img' width="320" heght="320").slider__img
          li.slider__item
            img(src='images/img-6.jpg' alt='img' width="320" heght="320").slider__img
          li.slider__item
            img(src='images/img-7.jpg' alt='img' width="160" heght="320").slider__img

