.table-info
  .table-info__inner
    .wrapper
      .table-info__layout
        .layout
          .table-info__title
            .content-title Таблица размеров
          .table-info__line
            .line
          .table-overflow
            table.table
              tr
                th Международный
                th XS
                th S
                th M
                th L
                th XL
                th XXL
              tr
                th Российский
                th 40
                th 42
                th 44/46
                th 48/50
                th 52/54
                th 56
              tr
                th Бедра(см)
                td 84-92
                td 92-95
                td 96-101
                td 102-108
                td 109-116
                td 117-121
              tr
                th Талия(см)
                td 60-65
                td 66-69
                td 70-77
                td 78-85
                td 86-95
                td 96-102
              tr
                th Грудь(см)
                td 74-80
                td 82-85
                td 86-93
                td 94-102
                td 103-113
                td 114-119
