.content
  &__header
    background-image: url('../images/bg-320.jpg')
    background-repeat:no-repeat
    background-position: center
    background-size: cover
    +above($breakpoints.xs)
      background-image: url('../images/bg-640.jpg')
    +above($breakpoints.sm)
      background-image: url('../images/content-bg.jpg')
  &__inner
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    color: $color-white
    padding: 92px 0 0 0
  &__subtitle
    font-size: 12px
    +above($breakpoints.s)
      font-size: 18px
    +above($breakpoints.xs)
      font-size: 24px
    +above($breakpoints.sm)
      font-size: 34px
      margin-bottom: 12px

  &__title
    font-weight: bold
    font-size: 15px
    +above($breakpoints.s)
      margin-bottom: 10px
      font-size: 30px
    +above($breakpoints.xs)
      font-size: 57px
    +above($breakpoints.sm)
      font-size: 82px
      margin-bottom: 30px

  &__line
    width: 100%
    max-width: 60px
    height: 2px
    background-color: $color-white
    margin-bottom: 5px
    +above($breakpoints.s)
      max-width: 140px
      margin-bottom: 10px
    +above($breakpoints.xs)
      max-width: 320px
      height: 3px
    +above($breakpoints.sm)
      margin-bottom: 50px
      max-width: 460px
  &__info
    font-size: 11px
    text-transform: uppercase
    text-align: center
    margin-bottom: 5px
    +above($breakpoints.s)
      font-size: 14px
      margin-bottom: 10px
    +above($breakpoints.xs)
      font-size: 18px
    +above($breakpoints.sm)
      margin-bottom: 50px
      font-size: 24px

  &__price-description
    font-size: 14px
    padding-top: 8px
    +above($breakpoints.xs)
      font-size: 28px
    +above($breakpoints.sm)
      font-size: 36px
      padding-top: 15px
  &__price
    font-size: 15px
    font-weight: bold
    margin-left: 20px
    +above($breakpoints.s)
      font-size: 17px
    +above($breakpoints.xs)
      font-size: 40px
    +above($breakpoints.sm)
      font-size: 48px
  &__btn
    display: flex
    flex-direction: column
    margin-bottom: 5px
    +above($breakpoints.s)
      margin-bottom: 20px
    +above($breakpoints.xs)
      margin-bottom: 50px
    +above($breakpoints.sm)
      margin-bottom: 124px
      flex-direction: row
  &__btn-left
    margin-bottom: 15px
    +above($breakpoints.sm)
      margin-right: 20px
