.header
  &__inner
    background-color: $color-white
  &__layout
    display: flex
    justify-content: center
    align-items: center
    padding: 10px 0px
    +above($breakpoints.sm)
      justify-content: space-between
  &__logo
    // 
  &__menu
    // 
.menu
  display: none
  +above($breakpoints.sm)
    display: block
  &__list
    display: flex
  &__item
    margin-right: 13px
    &:last-child
      margin-right: 0px
    +above($breakpoints.sm)
      margin-right: 30px
  &__link
    font-family: "OpenSans-regular"
    font-size: 13px
    line-height: 1
    text-transform: uppercase
    text-align: left
    color: $color-black
    font-weight: 600
    +above($breakpoints.sm)
      font-size: 16px
      line-height: 1.25