.table-info
  &__inner
    background-image: url('../images/table-bg.jpg')
    background-repeat:no-repeat
    background-position: center
    background-size: cover

  &__title
    margin-bottom: 30px

.table-overflow
  overflow: auto
  max-width: 100%
  background-color: rgb( 255, 255, 255 )
  box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 1), 0px 0px 60px 0px rgb( 0, 0, 0 )
  margin-bottom: 80px
table
  min-width: 880px
  border-collapse: collapse
th
  width: 5%
td
  text-align: center
tr
  height: 40px
  &:nth-child(2n+1)
    background-color: $color-white-grey
