$base-font-family = "OpenSans-regular"

$breakpoints = {
  s: 321px,
  xxs: 480px,
  xs: 640px,
  sm: 961px,
  md: 1024px,
  lg: 1200px
}

$color-primary = #74ee15
$color-magenta = #ba0152
$color-success = #35b24a
$color-warning = #ffa526
$color-dark-grey = #8c8c8c
$color-white = #ffffff
$color-white-grey = #f3f3f3
$color-white-light= #f7f2f4
$color-grey = #ceced3
$color-black= #121111
$color-red= #ff0000
$color-purple = #b4014e
